# Week_12

### 함수 II

#### asterisk(stars) *, **

In [4]:
def print_arg(*args): # 1. 패킹 (튜플로 묶기)
    # 인자를 튜플로 묶어서 활용하는 역할
    print(*args) # 2. 언패킹 (튜플 -> 인자로)
    
print_arg('hey', 'hello', 'hi')

hey hello hi

In [12]:
def print_arg2(name, *args):
    # *args : 필요 없지만 있으면 출력하겠다
    print('obligatory', name)
    print(*args)
    
print_arg2('book', 1, 2, 3, 4)
nums = (1, 2, 3, 4)
print()
print_arg2('book', nums)
print_arg('book', *nums)

obligatory book
1 2 3 4

obligatory book
(1, 2, 3, 4)
obligatory book
1 2 3 4

#### 외부에서 활용하기
- 컬렉션 자료형 언패킹 출력 시
- zip()과 많이 활용
- 키워드 전용 인수 선언
    - 별 뒤에 오는 매개변수들은 반드시 키워드 인수로 들어오도록 설정하는 역할
    - kargs와 혼선을 빚지 않기 위해

In [8]:
nums = list(range(5))
print(*nums) # 함수 안에서만 되는 것은 아님. 유용하게 활용 가능해보임

0 1 2 3 4

In [10]:
a = [
    [1, 2],
    [3, 4],
    [5, 6]
]
# 1, 3, 5 / 2, 4, 6 열을 순회

for row in zip(*a):
    # *a : 감싼 []가 없어진 상태.
    print(row)

(1, 3, 5)
(2, 4, 6)

In [13]:
def print_data(data, *, start, end): # start, end -> start = 0
    for value in data[start:end]:
        print(value)
        
print_data(nums, start=1, end=3)

2
3

In [7]:
# 연습
words = ['I', 'want', 'to', 'eat', 'apple']
for word in words:
    print(word)

print()
print(' '.join(words))
print()
print(*words) # 띄어쓰기로 각 요소를 구분하여 출력해줌.

I
want
to
eat
apple

I want to eat apple

I want to eat apple

#### ** (keyword args)

In [17]:
def print_kargs(**kargs): # 딕셔너리로 묶는 기능
    print(kargs) # **kargs로 하면 안 됨. *args와 다름. 언패킹 기능 없음
    # print(kargs['wine'], 'is semi-sweet') 

print_kargs(wine = 'merlot', dessert='cake')

{'wine': 'merlot', 'dessert': 'cake'}

In [18]:
wine_list = 'merlot cabernet crianza'.split()
for wine in wine_list:
    print_kargs(wine=wine, dessert='scone')

{'wine': 'merlot', 'dessert': 'scone'}
{'wine': 'cabernet', 'dessert': 'scone'}
{'wine': 'crianza', 'dessert': 'scone'}

In [24]:
def print_both(one, two, *args, **kargs): # 위치인수 > args > kargs 순서 중요!
    print(one + two + sum(args))
    print(kargs)
    
print_both(1, 2, 3, 4, 5, first=1, second=2)

15
{'first': 1, 'second': 2}

#### 딕셔너리 결합할 때 사용할 수 있다 (3.5 이상)

In [27]:
x = {1: 'a', 2: 'b'}
y = {2: 'c', 3: 'd'}
{**x, **y}

{1: 'a', 2: 'c', 3: 'd'}

### 일급객체
- first class object / first class citizen
- 함수도 객체다.
- 함수의 인자로 전달 가능
- 반환값이 될 수 있다
- 수정, 할당될 수 있다.

In [31]:
def answer():
    print(43)

def run_something(func): ## 파이썬에서만, 함수가 객체이므로
    func()
    
run_something(answer)

def run_anything(func):
    return func

run_anything(answer)() # 괄호 => 실행

43
43

In [34]:
def sum_args(*args):
    return sum(args)

def run_with_positional_args(func, *args):
    return func(*args)

run_with_positional_args(sum_args, 1, 3, 4, 5)

13

In [36]:
# 가변 인자일 때 => 초기화하지 않으면 변수 내용이 변할 수 있음

def func(num_list):
    # 변할 수 있음을 문서화 할 것, 혹은 다른 방법 찾아볼 것 (copy하거나 새로 만들거나)
    sum_num = sum(num_list)
    num_list.append(sum_num)
    
a = [1, 3, 5]
func(a)

In [37]:
a

[1, 3, 5, 9]

In [38]:
func(a)

In [39]:
a

[1, 3, 5, 9, 18]

In [21]:
# 가변 인자일 때 copy 이용해보기

def func2(num_list):
    temp = num_list.copy() # shallow copy를 이용하여 temp라는 변수에 할당
    sum_num = sum(temp)
    temp.append(sum_num)
    return temp
    
b = [1, 3, 5]
func2(b) # 1, 3, 5의 합이 추가된 리스트 반환

[1, 3, 5, 9]

In [22]:
b # 원래 리스트 b는 변하지 않음

[1, 3, 5]

### 내부함수 => 다음주

### 익명함수 (람다)
- lambda
- 함수인데 이름 없음 (def, return)
- 왜? 단순한 함수를 사용할 때
- lambda x: <x를 요리할 코드>

In [40]:
# lambda x : x.lower()

def f(x):
    return x.lower()

f2 = lambda x: x.lower()
f2('OK')

'ok'

In [42]:
(lambda x: x.lower())('OK') # 이름 없이 사용 가능

'ok'

In [43]:
f3 = lambda x, y: x + y
f3(5, 5)

10

In [45]:
# abc -> Abc!

a = lambda string: string.title() + '!'
a('hi')

'Hi!'

In [25]:
# lambda 활용해보기 1
(lambda x: x-1)(5)

4

In [26]:
# lambda 활용해보기 2
test = lambda x, y: x * y
test(2, 5)

10